@import url('https://fonts.googleapis.com/css?family=Roboto:700');


.grey-back {
  width: 245px;
  height: 768px;
  background-color: #eeece6;
}

.orange-back {
  width: 1024px;
  height: 768px;
  background-color: #fac105;
}

.logoBQ {
  width: 230px;
  height: 327px;
  object-fit: contain;
}
