@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* 
* {
    box-sizing: border-box; 
  } */

body {
  background-color: rgb(255, 255, 255);
  margin: 0;

}

.select-product {
 
  align-items: center;
  margin-left: -220px;
  margin-top: 84px;
}

.select-button-ticket {
  margin-left: 290px;
}



.row {
  display: flex;
  flex-wrap: wrap;
}



.button-cancel {
  
  width: 147px;
  height: 76px;
  border-radius: 24px;
  border: solid 2px #721a16;
  margin-top: 660px;
  margin-left: -388px;
  ;
}

.cancel {
  width: 110px;
  height: 56px;
  opacity: 0.96;
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: center;
  color: #721a16;
  margin-top: 14px;
  margin-left: 19px;
}

.button-confirm {
  width: 147px;
  height: 76px;
  border-radius: 24px;
  border: solid 2px #721a16;
  margin-top: -80px;
  margin-left: -222px;
}

.confirm {
  width: 110px;
  height: 56px;
  opacity: 0.96;
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: center;
  color: #721a16;
  margin-top: 14px;
  margin-left: 19px;
}

.total {

  width: 147px;
  height: 51px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: -130px;
  margin-left: -285px;

}


.App {
  /* max-width: 992px; */
  /* background-color: #fff; */
  /* padding: 20px; */
  margin: auto;
  flex: 70%;
  width: 1024px;
  height: 768px;
  background-color: #eeece6;
}


.iconlogoB {
  margin-left: -76px;
  margin-top: 2px;
  width: 49px;
  height: 49px;
  object-fit: contain;
  border-radius: 36px;
  background-color: #fac105;

}

.nav {
  padding: 10px 90px;
  display: flex;
  justify-content: space-between;
  background-color: #fac105;

  width: 690px;
  height: 55px;
  border-radius: 2px;
  flex: 250%;

}

.nav-menu {
  list-style: none;
  display: flex;
  margin-top: 11px;
  margin-left: -28px;
  margin-right: 65px;

}

.nav-menu li {
  display: inline-block;

}

.nav-menu-link {
  display: inline-block;
  margin: 5px;
  border: 1px solid #fac105;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #fac105;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}

.nav-menu-link:hover {
  border: 1px solid #fac105;
  color: #fac105;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav-menu-link.active {

  color: #721a16;
}


.back {
  display: inline-block;
  margin: 5px;
  border: 1px solid lightgray;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: rgb(149, 216, 238);
  text-decoration: none;
}


.main-content {
  max-width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.main-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}






/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 768pxpx) {
    .row, .nav, .App {   
      flex-direction: column;
    }
  } */
